<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here is some information about me!</p>
        <p>I will probably make a web app for my Mom as my Sinatra projects</p>
    </body>
</html>